* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Rubik;
  list-style: none;
}
.container {
  padding: 0 116px;
  max-width: 1280px;
  /* width: 100%; */
  margin: 0 auto;
  box-sizing: border-box;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: Rubik-bold;
  src: url(../fonts/Rubik-Bold.ttf);
}
/* ....................Header.................... */
li,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: Rubik-bold;
  color: #414141;
}

header {
  padding: 10px 0;
  /* position: fixed; */
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.9;
}
header .container {
  display: flex;
  align-items: center;
}
header .container a {
  display: flex;
  font-family: Rubik-bold;
  font-weight: 900;
  align-items: center;
  color: #414141;
}
header .container a img {
  padding-right: 10px;
}
header .container .katalog-button {
  display: flex;
  padding: 8px;
  background: #70c05b;
  align-items: center;
  margin-left: 40px;
  margin-right: 16px;
  border-radius: 4px;
}
header .container .katalog-button p {
  color: #fff;
  padding-left: 16px;
}
header .container .search {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-right: 40px;
  align-items: center;
}
header .container .search .search-input {
  border: 1px solid #70c05b;
  padding: 8px 0px 8px 8px;
  border-radius: 4px;
  font-size: 14px;
  width: 360px;
  height: 40px;
  gap: 10px;
}
header .container .search .search-img {
  position: absolute;
  right: 8px;
  top: 10;
}
header .container .header-card {
  text-align: center;
  margin-right: 24px;
}
header .container .Алексей {
  display: flex;
  align-items: center;
}
header .container .Алексей p {
  padding: 0 10px;
}
header .container .Алексей button {
  background-color: #fff;
  border: none;
}

/* ....................Main.................... */
main {
  font-family: Rubik;
  background-color: #fbf8ec;
  padding-top: 44px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  /* margin-top: 50px; */
  width: 1208px;
}
h1 {
  font-family: Rubik-bold;
  font-size: 36px;
  color: #414141;
  /* margin-top: 50px; */
}
.card {
  display: flex;
  width: 272px;
  height: 349px;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  button {
    transition: 0.4s linear;
    border: #04aa6d solid 1px;
    padding: 8px 68px;
    margin: 0 8px;
    color: #70c05b;
    font-size: 16px;
    border-radius: 4px;
    background-color: #fff;
    &:hover {
      border: #ff6633 solid 1px;
      background-color: #ff6633;
      color: white;
      box-shadow: 4px 8px 16px 0px #ff663333;
    }
  }
}
.card-h2 {
  font-family: Rubik-bold;
  font-size: 20px;
  padding: 8px 140px 18px 0;
  color: #414141;
}
.t-img {
  width: 100%;
}
.Rating {
  padding-top: 8px;
}
.card-text {
  padding-left: 18px;
  padding-bottom: 8px;
  max-width: 257px;
}
.main-bottom-links {
  display: flex;
  align-items: center;
  margin-left: 157px;
  justify-content: center;
  gap: 32px;
  p {
    padding: 9px;
  }
}
/* ....................Footer.................... */
footer {
  background-image: url("../images/footer/footer-bg.png");
  background-color: #f9f4e2;
}
footer .container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 54px;
  justify-content: space-between;
}
footer .container .footer-left {
  display: flex;
  align-items: center;
  max-width: 740px;
  justify-content: space-between;
  gap: 40px;
}
footer .container .footer-left .footer-left-menu {
  display: flex;
  gap: 40px;
}
footer .container .footer-left .footer-left-menu a {
  color: #414141;
  font-size: 12px;
}
footer .container .footer-right {
  display: flex;
  position: relative;
}
footer .container .footer-right-web {
  display: flex;
  align-items: center;
  max-width: 140px;
  gap: 16px;
  justify-content: space-between;
  margin-right: 40px;
}
footer .container .footer-right-phone {
  display: flex;
  align-items: center;
  padding-top: 8px;
}
footer .container .footer-right-phone p {
  color: #414141;
  font-size: 16px;
}
footer .container .footer-right .footer-right-bottom {
  display: flex;
  position: absolute;
  top: 60px;
  right: 0;
}
footer .container .footer-right .footer-right-bottom p {
  padding-right: 8px;
}

.categories_images {
  align-items: center;
}
